In [1]:
import pandas as pd
import numpy as np

import datetime as dt

In [2]:
# Read data from generated file

df = pd.read_csv('berlinmod/trips_cseteny.csv')

df['time'] = pd.to_datetime(df['Tstart'], format = '%Y-%m-%d %H:%M:%S')
df['longitude'] = df['Xstart']
df['latitude'] = df['Ystart']
df['trip'] = df['Tripid']

df.drop(['Tstart', 'Tend', 'Xstart', 'Xend', 'Ystart', 'Yend', 'Tripid'], axis=1, inplace=True)

In [3]:
df.head()

   Moid                    time  longitude  latitude  trip
0     2 2007-05-27 00:00:00.000    17.9991   47.3166     1
1     2 2007-05-28 15:54:57.735    17.9991   47.3166     1
2     2 2007-05-29 15:02:15.541    17.9991   47.3166     1
3     3 2007-05-27 00:00:00.000    17.9991   47.3166     2
4     3 2007-05-29 21:11:01.801    17.9991   47.3166     2

In [4]:
df.shape

(455, 5)

In [5]:
df['trip'].value_counts().sort_index().head(15)

1     3
2     2
3     2
4     1
5     1
6     2
7     1
8     1
9     3
10    7
11    1
12    1
13    3
14    3
15    4
Name: trip, dtype: int64

In [6]:
df['Moid'].value_counts().sort_index().head(15)

2     3
3     2
4     4
5     2
6     5
7     9
8     3
10    3
11    4
12    2
15    5
17    5
18    6
21    2
24    3
Name: Moid, dtype: int64

In [7]:
df['time'].describe()

count                            455
unique                           344
top              2007-05-27 00:00:00
freq                             109
first            2007-05-27 00:00:00
last      2007-05-29 22:33:03.050000
Name: time, dtype: object

In [8]:
df['latitude'].describe()

count    455.000000
mean      47.315376
std        0.004552
min       47.303900
25%       47.311800
50%       47.315900
75%       47.317600
max       47.325400
Name: latitude, dtype: float64

In [9]:
df['longitude'].describe()

count    455.000000
mean      17.993850
std        0.009723
min       17.956100
25%       17.988800
50%       17.994200
75%       17.999100
max       18.020900
Name: longitude, dtype: float64

In [10]:
# Change the way the dataset is indexed

df_reindexed = df.set_index(['Moid', 'time'])
df_reindexed.sort_index(inplace=True)

In [11]:
df_reindexed.head(10)

                              longitude  latitude  trip
Moid time
2    2007-05-27 00:00:00.000    17.9991   47.3166     1
     2007-05-28 15:54:57.735    17.9991   47.3166     1
     2007-05-29 15:02:15.541    17.9991   47.3166     1
3    2007-05-27 00:00:00.000    17.9991   47.3166     2
     2007-05-29 21:11:01.801    17.9991   47.3166     2
4    2007-05-27 00:00:00.000    17.9888   47.3159     3
     2007-05-29 07:42:53.416    17.9888   47.3159     3
     2007-05-29 21:18:33.367    17.9888   47.3159     4
     2007-05-29 21:18:33.368    17.9896   47.3195     5
5    2007-05-27 00:00:00.000    17.9991   47.3166     6

In [12]:
# Save the dataset to .pkl

df_reindexed.to_pickle('berlinmod/cseteny.pkl')