In [1]:
import pandas as pd
import numpy as np

import datetime as dt

In [2]:
# Read data from generated file

df = pd.read_csv('./datasets/berlinmod_cseteny/trips.csv')

df['time'] = pd.to_datetime(df['Tstart'], format = '%Y-%m-%d %H:%M:%S')
df['longitude'] = df['Xstart']
df['latitude'] = df['Ystart']
df['trip'] = df['Tripid']

df.drop(['Tstart', 'Tend', 'Xstart', 'Xend', 'Ystart', 'Yend', 'Tripid'], axis=1, inplace=True)

In [3]:
df.head()

   Moid                    time  longitude  latitude  trip
0     1 2007-05-27 00:00:00.000    17.9888   47.3159     1
1     1 2007-05-29 09:08:08.941    17.9888   47.3159     1
2     3 2007-05-27 00:00:00.000    17.9888   47.3159     2
3     3 2007-05-29 09:57:29.116    17.9888   47.3159     2
4     3 2007-05-29 21:11:01.801    17.9888   47.3159     2

In [4]:
df.shape

(370, 5)

In [5]:
df['trip'].value_counts().sort_index().head(15)

1     2
2     3
3     1
4     1
5     2
6     1
7     2
8     1
9     1
10    3
11    2
12    2
13    2
14    3
15    6
Name: trip, dtype: int64

In [6]:
df['Moid'].value_counts().sort_index().head(15)

1     2
3     3
5     7
6     5
7     2
8     2
9     2
10    3
11    6
12    1
13    3
14    3
15    4
16    2
17    2
Name: Moid, dtype: int64

In [7]:
df['time'].describe()

count                            370
unique                           259
top              2007-05-27 00:00:00
freq                             111
first            2007-05-27 00:00:00
last      2007-05-29 22:34:35.867000
Name: time, dtype: object

In [8]:
df['latitude'].describe()

count    370.000000
mean      47.315007
std        0.001329
min       47.313100
25%       47.313100
50%       47.315900
75%       47.315900
max       47.319200
Name: latitude, dtype: float64

In [9]:
df['longitude'].describe()

count    370.000000
mean      17.978236
std        0.015316
min       17.956100
25%       17.956100
50%       17.988800
75%       17.988800
max       18.002500
Name: longitude, dtype: float64

In [10]:
# Change the way the dataset is indexed

df_reindexed = df.set_index(['Moid', 'time'])
df_reindexed.sort_index(inplace=True)

In [11]:
df_reindexed.head(10)

                              longitude  latitude  trip
Moid time
1    2007-05-27 00:00:00.000    17.9888   47.3159     1
     2007-05-29 09:08:08.941    17.9888   47.3159     1
3    2007-05-27 00:00:00.000    17.9888   47.3159     2
     2007-05-29 09:57:29.116    17.9888   47.3159     2
     2007-05-29 21:11:01.801    17.9888   47.3159     2
5    2007-05-27 00:00:00.000    17.9561   47.3131     3
     2007-05-28 09:23:49.649    17.9561   47.3131     4
     2007-05-28 09:23:49.650    17.9888   47.3159     5
     2007-05-28 14:33:31.157    17.9888   47.3159     5
     2007-05-29 08:18:53.058    17.9561   47.3131     6

In [12]:
# Save the dataset to .pkl

df_reindexed.to_pickle('./datasets/berlinmod-test2.pkl')