In [1]:
import pandas as pd
import numpy as np

import datetime as dt

In [25]:
# Read data from generated file

df = pd.read_csv('./datasets/BerlinMOD_0_005_Geo_CSV/trips.csv')

df['time'] = pd.to_datetime(df['Tstart'], format = '%Y-%m-%d %H:%M:%S')
df['longitude'] = df['Xstart']
df['latitude'] = df['Ystart']
df['trip'] = df['Tripid']

df.drop(['Tstart', 'Tend', 'Xstart', 'Xend', 'Ystart', 'Yend', 'Tripid'], axis=1, inplace=True)

In [26]:
df.head()

   Moid                    time  longitude  latitude  trip
0     1 2007-05-27 00:00:00.000   13.43593  52.41721     1
1     1 2007-05-28 08:36:47.846   13.43593  52.41721     2
2     1 2007-05-28 08:36:49.846   13.43605  52.41723     2
3     1 2007-05-28 08:36:51.846   13.43628  52.41727     2
4     1 2007-05-28 08:36:53.846   13.43652  52.41730     2

In [33]:
df.shape

(342260, 5)

In [27]:
df['trip'].value_counts().sort_index().head(15)

1       1
2     350
3       1
4     352
5       1
6     357
7       1
8     359
9       1
10      1
11    492
12      1
13    485
14      1
15    139
Name: trip, dtype: int64

In [28]:
df['Moid'].value_counts().sort_index().head(15)

1     1423
2     2396
3      355
4     3625
5     1873
6     2812
7     4139
8     2689
9     1844
10    2879
11    3865
12    2245
13    4167
14    2718
15    2219
Name: Moid, dtype: int64

In [29]:
df['time'].describe()

count                         342260
unique                        341197
top              2007-05-27 00:00:00
freq                             141
first            2007-05-27 00:00:00
last      2007-05-30 01:34:26.561000
Name: time, dtype: object

In [31]:
df['latitude'].describe()

count    342260.000000
mean         52.502015
std           0.042514
min          52.382490
25%          52.472470
50%          52.505370
75%          52.529850
max          52.644000
Name: latitude, dtype: float64

In [32]:
df['longitude'].describe()

count    342260.000000
mean         13.381166
std           0.104213
min          13.112620
25%          13.321000
50%          13.385520
75%          13.447820
max          13.664390
Name: longitude, dtype: float64

In [34]:
# Change the way the dataset is indexed

df_reindexed = df.set_index(['Moid', 'time'])
df_reindexed.sort_index(inplace=True)

In [37]:
df_reindexed.head(10)

                              longitude  latitude  trip
Moid time
1    2007-05-27 00:00:00.000   13.43593  52.41721     1
     2007-05-28 08:36:47.846   13.43593  52.41721     2
     2007-05-28 08:36:49.846   13.43605  52.41723     2
     2007-05-28 08:36:51.846   13.43628  52.41727     2
     2007-05-28 08:36:53.846   13.43652  52.41730     2
     2007-05-28 08:36:55.846   13.43676  52.41734     2
     2007-05-28 08:36:57.846   13.43700  52.41737     2
     2007-05-28 08:36:59.846   13.43719  52.41741     2
     2007-05-28 08:37:01.846   13.43739  52.41744     2
     2007-05-28 08:37:03.846   13.43762  52.41747     2

In [38]:
# Save the dataset to .pkl

df_reindexed.to_pickle('./datasets/berlinmod-test.pkl')