In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
# Read data from trajectory files

ts = []
names = ['latitude', 'longitude', 'occupied', 'time']

for root, _, filenames in os.walk('./datasets/cabspotting/'):
    for filename in filenames:
        if filename.startswith('new_'):
            path = os.path.join(root, filename)
            taxi = filename[4:-4]
            
            t = pd.read_csv(path, names=names, index_col=False, sep=' ')
    
            t['time'] = pd.to_datetime(t['time'], unit='s')
            t['taxi'] = taxi
            
            ts.append(t)

df = pd.concat(ts, ignore_index=True)

In [3]:
df.shape

(11219955, 5)

In [4]:
df.head()

   latitude  longitude  occupied                time    taxi
0  37.61549 -122.38821         0 2008-06-09 18:43:48  adkavy
1  37.61562 -122.38849         0 2008-06-09 18:42:48  adkavy
2  37.61518 -122.39029         0 2008-06-09 18:41:43  adkavy
3  37.61393 -122.39508         0 2008-06-09 18:40:43  adkavy
4  37.60493 -122.38362         0 2008-06-09 18:39:43  adkavy

In [5]:
df['taxi'].unique().shape

(536,)

In [6]:
df['time'].describe()

count                11219955
unique                2023603
top       2008-05-24 07:03:55
freq                      414
first     2008-05-17 10:00:04
last      2008-06-10 09:25:34
Name: time, dtype: object

In [7]:
# Change the way the dataset is indexed

df_reindexed = df.set_index(['taxi', 'time'])
df_reindexed.sort_index(inplace=True)

In [8]:
df_reindexed.head(10)

                            latitude  longitude  occupied
taxi   time
abboip 2008-05-17 14:12:10  37.75153 -122.39447         0
       2008-05-17 14:13:34  37.75149 -122.39447         0
       2008-05-17 14:14:34  37.75149 -122.39447         0
       2008-05-17 14:15:35  37.75149 -122.39446         0
       2008-05-17 14:41:43  37.75144 -122.39449         0
       2008-05-17 14:42:54  37.75151 -122.39453         0
       2008-05-17 14:43:54  37.75137 -122.39502         0
       2008-05-17 14:44:49  37.75139 -122.39498         0
       2008-05-17 14:45:49  37.75140 -122.39495         0
       2008-05-17 14:46:50  37.75140 -122.39496         0

In [9]:
# Save the dataset to .pkl

df_reindexed.to_pickle('./datasets/cabspotting.pkl')