In [1]:
import pandas as pd
import pickle
import folium

In [2]:
data = pd.read_pickle('data_cabspotting/cabspotting.pkl')

In [3]:
data.head()

                            latitude  longitude  occupied
user   time
abboip 2008-05-17 14:12:10  37.75153 -122.39447         0
       2008-05-17 14:13:34  37.75149 -122.39447         0
       2008-05-17 14:14:34  37.75149 -122.39447         0
       2008-05-17 14:15:35  37.75149 -122.39446         0
       2008-05-17 14:41:43  37.75144 -122.39449         0

In [4]:
points = list(zip(data['latitude'], data['longitude']))

In [ ]:
m = folium.Map(location=[37.78991, -122.39008], zoom_start=11)
folium.