In [1]:
import pandas as pd
import numpy as np

In [21]:
# Read data from .plt files

ts = []
names = ['latitude', 'longitude', 'na_0', 'na_1', 'min_time', 'date_time', 'detail_time'] 

for user in range(0, 182):
    root = './datasets/geolife/Data/%d/Trajectory/' % (user)
    for root, _, filenames in os.walk(root):
        for filename in filenames:
            if filename.endswith('.plt'):
                path = os.path.join(root, filename)
                trip = int(filename[:-4])
                
                t = pd.read_csv(path, names=names, skiprows=6, index_col=False)
    
                t['time'] = t['date_time'] + " " + t['detail_time']
                t['time'] = pd.to_datetime(t['time'], format = '%Y-%m-%d %H:%M:%S')
                t = t.drop(['na_0', 'na_1', 'min_time', 'date_time', 'detail_time'], axis = 1)
                t['user'] = user
                t['trip'] = trip
    
                ts.append(t)

d = pd.concat(ts, ignore_index=True)

In [25]:
d.head()

    latitude   longitude                time  user            trip
0  39.974781  116.319370 2011-07-31 10:26:29   100  20110731102629
1  39.974837  116.319364 2011-07-31 10:26:30   100  20110731102629
2  39.974863  116.319036 2011-07-31 10:27:36   100  20110731102629
3  39.974850  116.318997 2011-07-31 10:27:37   100  20110731102629
4  39.974839  116.318951 2011-07-31 10:27:38   100  20110731102629

In [27]:
d.shape

(8855040, 5)